<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title><%= title %> </title>
</head>
<body>
    <h1>Farewell Management System</h1>
    <h4>Below is your Profile for Aloha 2022</h4>
    <div class="profile">
        Name :<%= data.name %> 
        <br>
        Email :<%= data.email %>
        <br>
        Year :<%= data.year %>
        <br>
        Makaut Roll Number: <%= data.roll %>
        <br>
        <% if(data.payment.amount>0 && data.payment.status == undefined) { %>
            Payment Status: Waiting for Verification
        <% } else if (data.payment.amount== undefined) { %>
            Payment Status : Not Paid
        <% } else {%> 
            Payment Status: Paid <%= data.payment.amount %>
        <% } %>
        <br>
        <button class="btn btn-dark"><a style="text-decoration: none;" href=<%= "/selfupdatepayment/"+data._id %> >Update Payment Status</a></button>
    </div>
</body>
</html>