<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title><%= title %> </title>
</head>
<body>
    <h1>Farewell Management System</h1>
    <br>
    <h4>Below is your Profile for Aloha 2022</h4>
    <br>
    <div class="profile">
        Name :<%= data.name %> 
        <br>
        Email :<%= data.email %>
        <br>
        Year :<%= data.year %>
        <br>
        Makaut Roll Number: <%= data.roll %>
    </div>
</body>
</html>